* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/************ REUSABLE COMPONENTS *********/
.row {
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-programs,
.section-features {
    margin-bottom: 30px;
}
.container {
    height: 100vh;
    width: 100vw;
}
.navbar {
    height: 50px;
    background-color: brown; 
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.nav .logo {
    height: 40px;
}
.nav .logo img {
    height: 100%;
    width: 40px;
}
.nav .links ul {
    display: flex;
    justify-content: space-between;
}
.nav .links ul li {
    padding-left: 15px;
    list-style: none;
}
.banner {
    height: 100%;
    width: 100vw;
    background: url(./img/bann.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    /* height: 100%; */
}
.left-col,
.right-col {
    width: 50%;
}
.banner .cols .left-col {
    position: relative;
    /* top: 25%; */
    margin: 150px auto ;
    color: #fff;
    padding: 50px;
}

/************ REUSABLE COMPONENTS *********/
.section-programs .row .wrap {
    padding: 10px 30px;
} 
.programs-cards {
    /* height: 400px; */
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px 20px 20px;
}
.card {
    height: 300px;
    width: 260px;
    padding: 14px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 15px 0;
}
.card-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
    height: 15%;
    justify-content: space-between;
}
.card-head .card-img{
    width: 40%;
}
.card-head .card-heading {
    width: 60%;
}
.card-head .card-img img {
    width: 50%;
    height: 100%;
}
.card-head .card-heading {
    display: flex;
    align-items: center;
}
.card-content {
    height: 60%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
.card-link {
    height: 10%;
    margin-bottom: 0;
}

/************ SECTION FEATURES *********/

#cr {
    height: 200px;
    width: 50%;
    margin: 0 0 10px 0;
    display: flex;
}
#left-col-features {
    flex-direction: row!important;
}
.row1,
.row2 {
    display: flex;
    flex-direction: row;
}
.features-card {
    width: 50%;
    padding: 15px;
    margin: 0 20px 20px 0;
    border-radius: 14px;
    background-color: bisque;
}
.section-features .row .cols .left-col {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.section-features .row .cols .left-col h2,
    .section-features .row .cols .left-col p{
    margin-bottom: 50px;
}
.section-features .row .cols .features-left-col-wrap {
    display: flex;
}
.features-left-col-wrap .membership {
    margin-right: 50px;
}
.feat-wrap {
    display: flex;
    flex-wrap: wrap;
}